* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.3em;
    line-height: 1.5rem;
    font-family: "Open Sans", Nunito;
}

h1,
h2,
h3,
h4 {
    font-size: 1.7em;
    line-height: 3rem;
    font-family: "Cormorant Garamond", Nunito;
}

body {
    background-color: rgb(255, 243, 228);
}

/* div {
    background-color: rgb(255, 255, 255);
    width: 300px;
    mim-height: 100px;
    border: solid 5px red;
    padding: 10px 30px 60px 100px;
    margin: 40px;
} */

header {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    min-height: 100px;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 20px 40px;
}

#about {
    background-color: rgb(247, 243, 240);
    padding: 20px 40px;
    text-align: center;
}

#articles {
    background-color: rgb(255, 249, 242);
    padding: 60px 40px;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(121, 14, 0);
    margin-bottom: 30px;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    color: rgb(247, 243, 240);
    margin-bottom: 20px;
    text-decoration: overline;
}

h3 {
    color: #1b1b1b;
    margin-top: 40px;
    font-style: italic;
}

h4 {
    color: #ffffff5e;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}

time {
    opacity: 60%;
}

#content {
    padding: 60px 40px;
    background-color: rgb(247, 243, 240);
}

.imgfon {
    width: 100%;
    border-radius: 20px;
}

a {
    color: rgb(156, 18, 0);
}

a:hover {
    color: #ff5e00;
}

a:focus {
    color: #ffae00;
}

nav ul {
    list-style: none;
}

nav a {
    color: rgb(255, 235, 220);
    text-decoration: none;

}

nav a:hover {
    color: #ffb991;
}

nav a:focus {
    color: rgb(255, 238, 0);
}

.fot_l {
    color: rgb(255, 235, 220);
}

.fot_l:hover {
    color: #ffb991;
}

.text {
    color: rgb(83, 10, 0);
    font-size: 1.2em;
}


dt {
    font-size: 1.1rem;
    font-style: bold;
    color: black;
}

dd {
    opacity: 60%;
    padding: 20px 20px 40px 20px;
}


#glavnaya {
    background-image: url(../img/4.png);
    background-size: cover;
    background-position: center;
    height: 720px;
}

blockquote {
    margin-bottom: 40px;
}

#articles li a:hover,
#articles li a:focus {
    color: #ff8800;
    text-decoration: none;
}

#articles li:nth-child(odd) {
    background-color: #fff4ea;
}

#articles li:nth-child(even) {
    background-color: #ffffff;
}

#articles li.metka::after {
    content: "Важно! ";
    font-size: 0.7rem;
    background-color: #000000;
    color: #fffdfd;
    border: 1px solid #ff5e00;
    border-radius: 50px;
    padding: 2px 6px;
    margin-left: 20px;
    font-weight: bold;
}


.content1::first-line {
    letter-spacing: 0.5rem;
}

p:lang(en) {
    font-style: italic;
    color: #800c0c;
}

#about h2 {
    color: #ffffff;
    background-color: #630700;
    padding: 10px 10px;
}

footer img {
    border: #636363 solid 3px;
    border-radius: 50px;
}

img+p {
    margin-top: 60px;
}


/* таблица */

.table-example {
    border: 5px rgb(15, 15, 15) solid;
    border-collapse: collapse;
    border: 5px solid rgb(0, 0, 0);
    margin: 60px 40px;
}

.table-example thead {
    background-color: #ff9900;
}

.table-example td,
.table-example th {
    border: #000000 2px solid;
    border-bottom: 2px rgb(104, 87, 87) solid;
    padding: 5px 15px;
}

.table-example tr:nth-child(even) {
    background-color: #ffedb2;
}

.table-example td:first-child {
    text-align: center;
    background-color: #fffd96;
}

.table-example tr:last-child td:last-child {
    background-color: #e7e7e7;
}

#contact-form {
    background-color: #ffffff;
    width: 320px;
    margin: 40px auto;
    border-radius: 30px;
    padding: 40px;
}

label {
    font-size: 0.9rem;
}

#contact-form select {
    background-color: #f1f9ff;
    padding: 5px 10px;
    border: 1px solid rgb(157, 203, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 320px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"] {
    background-color: #f1f9ff;
    padding: 5px 10px;
    border: 1px solid rgb(157, 203, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
    height: 20px;
}

#contact-form textarea {
    background-color: #f1f9ff;
    padding: 5px 10px;
    border: 1px solid rgb(157, 203, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 300px;
}

#contact-form input[type="submit"] {
    background-color: #ff5e00;
    color: #ffffff;
    border-radius: 50px;
    width: 330px;
    height: 40px;
}

#contact-form input[type=submit]:hover {
    background-color: #ffae00;
    border: #ff5e00 1px solid;
}

#contact-form input[type=checkbox] {
    accent-color: red;

}

/* #contact-form input[type=radio] {
    accent-color: red;
} */

/* #registration select,
#registration textarea {
    background-color: #f1f9ff;
    padding: 5px 10px;
    border: 1px solid rgb(157, 203, 255);
    border-radius: 10px;
    width: 300px;
} */

/* a[href^=http]{
    background-color: #ff0000;
} */